/**
 * This is an example file that contains the structure for all your module and partial files. Feel free to use this as the starting template for your files 
 */


// Your mobile styles go here

@media screen and (min-width: $screen-sm-min) {
	// Your small screen styles go here
}

@media screen and (min-width: $screen-md-min) {
	// your medium screen styles go here
}

@media screen and (min-width: $screen-lg-min) {
	// your large screen styles go here
}