/**********
PRAYER WALL
***********/

.prayer-wall-section {
	margin-top: 40px;
	.interactive-logo-column {
		position: relative;
	}
	.prayer-form-column {
		margin-top: 40px;
		.prayer-wall-copy {
			padding-right: 10%;
		}
		.para-alt {
			margin-top: 40px;
		}
	}
	.request-testimonies-columns {
		margin-top: 80px;
	}
	.prayer-requests,
	.prayer-testimonies {
		margin-top: 2rem;
		padding-right: 20%;
		p.date {
			margin-top: 0.75rem;
		}
		.prayer-request__single,
		.prayer-testimony__single {
			padding: 2rem 0 0.5rem;
			border-bottom: 1px solid black;
		}
	}
}

.interactive-logo__container {
	margin: 0 auto;
	.logo-img {
		width: 25%;
		max-width: 100px;
	}
	.hover-modal-container {
		div.modals {
			border: 1px solid black;
			background: $white;
			padding: 10px;
			position: absolute;
			width: 75%;
			max-width: 550px;
			transition: $transition;
			opacity: 0;
			visibility: none;
			.modal-img-container {
			}
			.modal-copy-columns {
				padding: 1rem 0;
			}
		}
		.yellow-modal {
			right: 0;
			top: -100%;
			&.yellow--hovered {
				opacity: 1;
				visibility: visible;
			}
		}
		.brown-modal {
			opacity: 0;
			left: 0;
			top: -100%;
			&.brown--hovered {
				opacity: 1;
				visibility: visible;
			}
		}
		.green-modal {
			visibility: none;
			left: 0;
			top: -80%;
			&.green--hovered {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.outer-blobs-container {
		position: relative;
		width: 400px;
		margin: auto;
		.inner-blobs-container {
			div.blob {
				position: absolute;
				z-index: -1;
				transform-origin: 50% 50%;
				// &:after {
				// 	content: "";
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	width: 100%;
				// 	height: 100%;
				// 	z-index: 1;
				// }
				&:hover {
					cursor: pointer;
				}
				&:hover:after {
					cursor: pointer;
				}
			}
			.hitboxes {
				position: absolute;
				z-index: 3;
				background: transparent;
				// background: black;
				&:hover {
					cursor: pointer;
				}
			}
			.yellow-hitbox {
				top: -10%;
				right: 35%;
				width: 20%;
				height: 100px;
				&:hover {
					cursor: pointer;
				}
			}
			.brown-hitbox {
				top: 30%;
				right: 57%;
				width: 7%;
				height: 50px;
				&:hover {
					cursor: pointer;
				}
			}
			.green-hitbox {
				top: 50%;
				right: 52%;
				width: 10%;
				height: 42px;
			}

			.yellow-blob {
				top: -10%;
				right: 35%;
				width: 25%;
				animation: move 5s linear infinite, fade-in 2s linear;
			}
			.brown-blob {
				top: 30%;
				right: 57%;
				width: 7%;
				animation: move 3s linear infinite, fade-in 1s linear;
			}
			.green-blob {
				top: 50%;
				right: 51%;
				animation: move 7s ease infinite, fade-in 3s linear;
			}
		}
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes move {
	0% {
		transform: scale(1) translateY(0);
	}
	33% {
		transform: scale(0.95, 0.9) translateY(5px);
	}
	66% {
		transform: scale(0.91, 1);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}

//contact form 7 styles
.wpcf7-textarea {
	margin: 1.5rem 0 1rem;
	padding: 10px;
	letter-spacing: $letter-spacing;
	background-color: rgba(255, 255, 255, 0.7);
	width: 80%;
}

.wpcf7-list-item-label {
	font-size: 1rem;
	letter-spacing: $letter-spacing;
	margin-left: 5px;
}

span.wpcf7-list-item {
	margin: 0;
}

.wpcf7-submit {
	margin-top: 1rem;
	&:hover {
		cursor: pointer;
	}
}

div.wpcf7-response-output {
	margin: -15px 0 10px;
	position: absolute;
	padding: 0;
	border: 0;
}

span.wpcf7-not-valid-tip {
	margin: -10px 0 10px 0;
	font-size: 0.9rem;
}

@media screen and (max-width: $tablet-vertical) {
	.interactive-logo__container {
		margin: 80px auto 40px;
		.hover-modal-container {
			.yellow-modal {
				&.yellow--hovered {
					opacity: 0;
					visibility: hidden;
				}
			}
			.brown-modal {
				&.brown--hovered {
					opacity: 0;
					visibility: hidden;
				}
			}
			.green-modal {
				&.green--hovered {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
	.prayer-wall-section {
		.prayer-request-column {
			margin-bottom: 2rem;
		}
		.prayer-requests,
		.prayer-testimonies {
			margin: 0;
		}
	}
}

@media screen and (max-width: $mobile) {
	.wpcf7-textarea {
		width: 100%;
	}
}

/**************
End- PRAYER WALL
***************/

/*****
EVENTS
*****/
.event-section {
	.event-column__content-tile {
		margin: 1rem 0;
	}
	.event-column {
		position: relative;
		.event-overlay {
			background: rgba(255, 255, 255, 0.25);
		}
		img {
			object-fit: cover;
			max-height: 33vmax;
			width: 100%;
		}
	}
}

/**********
End- EVENTS
***********/

/*******
LOCATION
********/

.location-title {
	margin-bottom: 40px;
}
/************
End- LOCATION
*************/

/********
ACCORDION
*********/
.accordion-columns {
	justify-content: space-between;
	.accordion-cta-btn {
		margin-right: 1rem;
	}
	.accordion-container {
		max-width: 90%;
		.accordion__title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			cursor: pointer;
			border-top: 1px solid #242932;
			padding: 16px 0;
		}
		.accordion__icon {
			width: 10px;
			height: 10px;
			background-image: url(https://image.flaticon.com/icons/svg/748/748122.svg);
			background-repeat: no-repeat;
			transform: rotate(-45deg);
			transition: all 0.3s ease-in-out;
			transform-style: preserve-3d;
			-webkit-font-smoothing: antialiased;
		}
		.accordion__content {
			max-height: 0;
			overflow: hidden;
			transition: all 0.35s ease-in-out;
		}
		.accordion__content p {
			padding: 1.5rem 0 2.5rem;
		}
		.active .accordion__content {
			max-height: 150px;
		}
		.active .accordion__icon {
			transform: rotate(0deg);
			transform-style: preserve-3d;
			-webkit-font-smoothing: antialiased;
		}
	}
	.featured-img-container img {
		object-fit: cover;
		max-height: 500px;
		width: 100%;
	}
}

@media screen and (max-width: 1400px) {
	.accordion-columns {
		.accordion-container {
			margin-bottom: 1rem;
		}
	}
	.cta-btn-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.body-btn {
			margin: 0.5rem 0;
			text-align: center;
		}
	}
}
@media screen and (max-width: $tablet) {
	.cta-btn-container {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	.accordion-columns {
		.accordion-container {
			max-width: 100%;
		}
	}
	.cta-btn-container {
		flex-direction: column;
		display: flex;
		align-items: flex-start;
		.body-btn {
			min-width: 180px;
		}
	}
}
/*************
End- ACCORDION
**************/

/*********************
RESOURCE SECTION/PAGE
**********************/

.resources-copy-description {
	margin: 2rem 0;
}
.single-resource {
	position: relative;
	.single-resource-container {
		.single-resource-img {
			object-fit: cover;
			width: 100%;
			height: 28.5vh;
		}
	}
	.more-info {
		position: absolute;
		left: 0;
		top: 35%;
		transform: scale(1.5);
		display: none;
	}
	.__info-blurb {
		margin: 10px 0;
		position: absolute;
		bottom: 0;
		z-index: 1;
		color: white;
		padding: 15px 25px;
		transition: $transition;
		&.reveal {
			position: absolute;
			align-items: flex-start;
			color: black;
			// padding: 0;
			bottom: -58px;
			flex-direction: column-reverse;
			display: flex;
			.resource-title {
				font-size: 1rem;
			}
			.resource-date {
				font-size: 0.8rem;
			}
		}
	}
}
.resource-columns {
	justify-content: space-between;
	.resource-title {
		font-size: 1.3rem;
	}
	.resource-date {
		font-size: 0.9rem;
		// margin-bottom: 1rem;
	}
}

.resources-section {
	.body-btn {
		// margin-top: 0;
	}
}

@media screen and (max-width: $tablet-vertical) {
	.resources-section {
		.body-btn {
			margin-top: 2rem;
		}
	}
}

/************
End- RESOURCE
*************/

/*******
TIMELINE
********/

.timeline-section {
	div.swipe {
		margin-top: -3.5rem;
	}
	.timeline-subheader {
		margin-bottom: 1rem;
	}
	hr.timeline {
		width: 100%;
		height: 1px;
		background: black;
		margin: 1rem 0;
	}
	.timeline-content-columns {
		position: relative;
		margin: 80px 0;
		padding: 2% 5%;
		overflow-x: scroll;
		overflow-y: hidden;
		//firefox hide scrollbar
		scrollbar-width: none;
		// edge IE hide scrollbar
		-ms-overflow-style: none;
		padding-right: 10%;
		cursor: grab;
		&::-webkit-scrollbar {
			//chrome hide scrollbar
			display: none;
		}
	}
	.timeline-single-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 5%;
		.timeframe-year {
			padding-bottom: 3rem;
		}
		.timeline-img {
			margin: 0 4rem;
			img {
				min-width: 600px;
				max-width: 750px;
				height: 450px;
				object-fit: cover;
			}
		}
		.timeline-copy {
			white-space: nowrap;
		}
	}
	.timeline-column {
		position: relative;
		.timeframe-centered {
			justify-content: center;
			span.timeframe {
				font-weight: $bolder;
				transition: $transition;
				&:before {
					content: "";
					position: absolute;
					bottom: 32%;
					border-radius: 50%;
					border: 1px solid black;
					width: 10px;
					height: 10px;
					margin-left: 11px;
					transition: $transition;
					background-color: white;
				}
			}
			&:hover span.timeframe:before {
				background-color: $yellow;
				border-color: transparent;
			}
		}
	}
}

/************
End- TIMELINE
*************/

/************
IMG + CONTENT
*************/

$restrict-width: 80%;

.img-content-section {
	width: $restrict-width;
	margin: 100px auto;
	.columns.reverse {
		flex-direction: row-reverse;
	}
	&.padding-off {
		margin: 0;
		width: 100%;
	}
	.img-col > img {
		object-fit: cover;
	}
	.content-col {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.img-content-section {
		width: 100%;
	}
}
@media screen and (max-width: $tablet) {
	.img-content-section {
		.img-col.is-horizontal-center {
			justify-content: flex-start;
		}
	}
}
@media screen and (max-width: $mobile) {
	.img-content-section {
		.content-col {
			width: 100%;
		}
	}
}
/*****************
End- IMG + CONTENT
******************/

/******************
STATEMENT OF BELIEFS
*******************/

.statement-beliefs-section {
	margin-top: 5rem;
	.para-alt {
		margin-top: 40px;
	}
	.copy-column {
		padding-right: 10%;
	}
	.autoscroll-container {
		#back {
			cursor: pointer;
		}
		.controls {
			display: flex;
			align-items: center;
			// transform: rotate(90deg);
		}
		.scroll-btn {
			font-size: 28px;
			position: relative;
			width: 50px;
			height: 50px;
			cursor: pointer;
			display: flex;
		}
		#play,
		#pause {
			position: absolute;
			top: 50%;
			line-height: 0;
			opacity: 0;
		}
		#play,
		#pause,
		#back {
			font-size: 0.9rem;
		}
		.active {
			opacity: 1 !important;
		}
		.autoscroll-statement {
			.top-statement {
				margin-top: 5rem;
			}
			&:hover {
				cursor: default;
			}
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			height: 500px;
			max-height: 550px;
			//firefox hide scrollbar
			scrollbar-width: none;
			// edge IE hide scrollbar
			-ms-overflow-style: none;
			padding-right: 10%;

			&::-webkit-scrollbar {
				//chrome hide scrollbar
				display: none;
			}
			h3.statement {
				font-size: 3.33rem;
				font-family: $header;
				color: $green;
				margin-bottom: 7rem;
			}
		}
	}
}
@media screen and (max-width: $tablet-vertical) {
	.autoscroll-container {
		margin-bottom: 3rem;
	}
}

/***********************
End- STATEMENT OF BELIEFS
************************/

// Youtube iframes

.video-overlay {
	z-index: 1;
	position: absolute;
	width: calc(100% - 1.5rem);
	height: calc(100% - 1.65rem);
	background: $green;
	opacity: 0.85;
	top: 0.75rem;
	left: 0.75rem;
	align-items: center;
	justify-content: center;
	display: flex;
	span.play {
		border: 1px solid white;
		display: inline-block;
		border-radius: 50%;
		transition: $transition;
		padding: 10px;
		img {
			width: 40px;
			padding: 5px;
		}
	}
	&:hover span.play {
		opacity: 0.5;
	}
}

.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
	.overlay:after {
		z-index: 1;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $green;
		opacity: 0.85;
		top: 0;
		left: 0;
		transition: $transition;
	}
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
