# place this ignore file in the root directory of your 
# wordpress install

.htaccess
.DS_Store
.bams-config
_GIT-ONLY_

_temp/
.vscode/

wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz

bower_components/
node_modules/

.sass-cache/
grunt-config.js

# no more including this file it messes me up
sftp-config.json

.vscode/