#screen-sm-min,
#screen-md-min,
#screen-lg-min {
	display: none;
}
@media screen and (min-width: $screen-sm-min) {
	#screen-sm-min {
		display: block;
	}
}

@media screen and (min-width: $screen-md-min) {
	#screen-md-min {
		display: block;
	}
}

@media screen and (min-width: $screen-lg-min) {
	#screen-lg-min {
		display: block;
	}
}